In [165]:
%reload_ext autoreload

In [166]:
%autoreload 2
import pandas as pd
from dfActualPS import dfActualPS
# from dfActualPS import getMissingTitles
# from create_df_actual_ps2 import createDfActualPS

In [ ]:
actual_ps = 'Shyla Stylez'
chosen_model_brazz_site = 'https://www.brazzers.com/videos/models/403/shyla-stylez/page'
max_page_len_of_chosen_model = [2]
csv_final = 'df_final_10_03_23.csv'

In [167]:
actual_ps = 'Sienna West'
chosen_model_brazz_site = 'https://www.brazzers.com/videos/models/555/sienna-west/page/'
max_page_len_of_chosen_model = [2]
csv_final = 'df_final_10_03_23.csv'
df_class_ps_sw = dfActualPS(actual_ps, chosen_model_brazz_site, max_page_len_of_chosen_model, csv_final)

In [185]:
df_chosen_ps_sw = df_class_ps_sw.createDfActualPS()
df_chosen_ps_sw

scanning Site: https://www.brazzers.com/videos/models/555/sienna-west/page/1, Response: <Response [200]>
scanning Site: https://www.brazzers.com/videos/models/555/sienna-west/page/2, Response: <Response [200]>

      Site          PS1              PS2                           Title
0   Models  sienna_west   danny_mountain                  graduation_lay
1   Models  sienna_west       james_deen             dinner_and_a_floozy
2   Models  sienna_west       ralph_long              the_damage_is_done
3   Models  sienna_west       keiran_lee                       surviving
4   Models  sienna_west      johnny_sins             stop_crosswalk_tits
5   Models  sienna_west       keiran_lee               yoga_tta_big_dick
6   Models  sienna_west      scott_nails              time_for_a_closeup
7   Models  sienna_west       keiran_lee   sex_me_in_the_name_of_science
8   Models  sienna_west  ariella_ferrera                       dick_rush
9   Models  sienna_west      dylan_riley                   xxx_mas_break
10  Models  sienna_west       sara_stone              the_carpet_cleaner
11  Models  sienna_west     charles_dera         its_cock_hunting_season
12  Models  sienna_west         lisa_ann           soccer_moms_gone_wild
13  Models  sienna_west   danny_mountain                   peeping_danny
14  Models  sienna_west      johnny_sins                deep_dark_secret
15  Models  sienna_west      johnny_sins                       the_scout
16  Models  sienna_west    carmella_bing              an_uninvited_guest
17  Models  sienna_west    carmella_bing           orgy_at_siennas_house
18  Models  sienna_west      billy_glide    the_customer_is_always_right
19  Models  sienna_west       keiran_lee  sextra_curricular_xx_xcersices
20  Models  sienna_west       jordan_ash                  wild_wild_west
21  Models  sienna_west       jordan_ash               thinking_out_loud
22  Models  sienna_west      scott_nails               house_swap_part_3
23  Models  sienna_west     rachel_roxxx       sharing_with_the_neighbor
0   Models  sienna_west      ramon_nomar                       wet_dream
1   Models  sienna_west   austin_kincaid                big_dick_auction
2   Models  sienna_west      barry_scott         a_visit_from_mr_cockrin
3   Models  sienna_west    jack_lawrence              big_tit_persuasion
4   Models  sienna_west      johnny_sins                   law_loop_hole
5   Models  sienna_west    mikey_butders   reunited_and_it_feels_so_good
6   Models  sienna_west   savannah_stern                     schools_out
7   Models  sienna_west        phat_zane            long_awaited_package
8   Models  sienna_west      tj_cummings                  wild_wild_west
9   Models  sienna_west      johnny_sins               big_tit_knock_out
10  Models  sienna_west       ava_lauren            desperate_housewives
11  Models  sienna_west        alex_gonz                      extra_work
12  Models  sienna_west    mikey_butders                      the_voyeur
13  Models  sienna_west    mikey_butders       better_than_a_scholarship

In [175]:
df_actual_titles_sw = df_class_ps_sw.getTitlesInDfFinal()
df_actual_titles_sw

== INFOS ABOUT THE TITLES: ==
Count of df_current_final: 2127
Current_titles in df_final of Sienna West: 8
Count of Sienna West of braz_sides: 38
==

                                     Title
148                     xxx_mas_break_720p
162                long_live_brazzers_720p
815   how_to_handle_your_students_101_720p
817       tits_for_tits_wife_for_wife_480p
883                         dick_rush_720p
1193            soccer_moms_gone_wild_480p
2045            orgy_at_siennas_house_480p
2088               an_uninvited_guest_480p

In [169]:
actual_ps = 'Tarra White'
chosen_model_brazz_site = 'https://www.brazzers.com/videos/models/8193/tarra-white/page/'
max_page_len_of_chosen_model = [1]
csv_final = 'df_final_10_03_23.csv'
df_class_ps_tw = dfActualPS(actual_ps, chosen_model_brazz_site, max_page_len_of_chosen_model, csv_final)

In [183]:
df_chosen_ps_tw = df_class_ps_tw.createDfActualPS()
df_chosen_ps_tw

scanning Site: https://www.brazzers.com/videos/models/8193/tarra-white/page/1, Response: <Response [200]>

     Site          PS1           PS2                                 Title
0  Models  tarra_white  leyla_morgan            the_scoundrel_strikes_hard
1  Models  tarra_white       danny_d       my_girlfriends_mum_has_a_secret
2  Models  tarra_white       danny_d   cumming_home_for_christmas_part_one
3  Models  tarra_white       danny_d   hairy_punter_and_his_enormous_boner
4  Models  tarra_white   david_perry  dont_call_in_sick_just_fuck_the_boss

In [178]:
df_actual_titles_tw = df_class_ps_tw.getTitlesInDfFinal()
df_actual_titles_tw

== INFOS ABOUT THE TITLES: ==
Count of df_current_final: 2127
Current_titles in df_final of Tarra White: 7
Count of Tarra White of braz_sides: 5
==

                                           Title
241    hairy_punter_and_his_enormous_boner_1080p
433   dont_call_in_sick_just_fuck_the_boss_1080p
434                      king_of_the_jungle_720p
804     cumming_home_for_christmas_part_one_720p
1083        my_girlfriends_mum_has_a_secret_720p
1219                     spies_in_disguise_1080p
1255             the_scoundrel_strikes_hard_720p

In [182]:
missing_titles_tw = df_class_ps_tw.getMissingTitles()
missing_titles_tw

Chosen PS:  Tarra White

[]

***

In [179]:
actual_ps = 'Jillian Janson'
chosen_model_brazz_site = 'https://www.brazzers.com/models/379/jillian-janson/page/'
max_page_len_of_chosen_model = [1]
csv_final = 'df_final_10_03_23.csv'
df_class_ps_jj = dfActualPS(actual_ps, chosen_model_brazz_site, max_page_len_of_chosen_model, csv_final)

In [184]:
df_chosen_ps_jj = df_class_ps_jj.createDfActualPS()
df_chosen_ps_jj

scanning Site: https://www.brazzers.com/models/379/jillian-janson/page/1, Response: <Response [200]>

,Site,PS1,PS2,Title
0,Models,jordyn_falls,gaby_ortega,bodega_bro_unlocks_impossible_achievement
1,Models,lila_lovely,katie_kush,squirty_pregnant_gf_paramedic_threesome
2,Models,jessie_lee,codi_vore,the_geek_the_goth_the_tomboy
3,Models,cassie_del_isla,kyle_mason,milf_needs_a_good_drilling
4,Models,mandy_rhea,jade_kimiko,stepmom_soccer_girl_cup_shootout
5,Models,lexi_luna,kyle_mason,my_friends_moms_pussy
6,Models,joslyn_james,sophia_locke,my_life_as_a_blowup_doll
7,Models,aletta_ocean,danny_d,rejected_housewife
8,Models,rae_lil_black,danny_d,brother_bangs_the_bride_to_be
9,Models,la_sirena_69,kayley_gunner,horny_housewifes_revenge_part_2
10,Models,josephine_jackson,jordi_el_nino_polla,big_naturals_nurse_gets_kitchen_creeped
11,Models,rae_lil_black,tommy_cabrio,your_day_with_rae
12,Models,siri_dahl,abigaiil_morris,pervy_guy_fucks_both_curvy_lookalikes
13,Models,karma_rx,chantal_danielle,smoking_hot_mirrors_and_threesomes
14,Models,lexi_luna,leana_lovings,lunch_with_the_steps
15,Models,maddy_may,lily_lou,biz_up_front_party_in_the_back
16,Models,chloe_surreal,mick_blue,big_natural_babe_gets_the_double_dickdown_she_...
17,Models,abigaiil_morris,maddie_may,abinator_3000
18,Models,blondie_fesser,sara_retali,sweaty_sauna_fuckfest
19,Models,rachel_starr,aubree_valentine,the_realtor

In [181]:
df_actual_titles_jj = df_class_ps_jj.getTitlesInDfFinal()
df_actual_titles_jj

== INFOS ABOUT THE TITLES: ==
Count of df_current_final: 2127
Current_titles in df_final of Jillian Janson: 14
Count of Jillian Janson of braz_sides: 20
==

                                    Title
1229    this_is_how_you_get_the_job_1080p
1600      assk_and_ye_shall_receive_1080p
1601              the_ex_best_thing_1080p
1820                 a_mature_magic_1080p
1821  a_strange_case_of_bubble_butt_1080p
1822     boned_by_the_butler_part_2_1080p
1886         method_to_my_tight_ass_1080p
1917              up_the_wrong_hole_1080p
1964    ninas_chapel_of_lust_part_2.1080p
2052                gimme_a_c_o_c_k_1080p
2053               jillian_for_sale_1080p
2054   take_me_to_your_biggest_cock_1080p
2099          the_ol_ball_and_chain_1080p
2125    best_kept_secret_remastered_1080p

In [ ]:
from dfActualPS import dfActualPS

In [174]:
df_actual_titles_tw = df_class_ps_tw.getTitlesInDfFinal()
df_actual_titles_tw

== INFOS ABOUT THE TITLES: ==
Count of df_current_final: 2127
Current_titles in df_final of Tarra White: 7
Count of Tarra White of braz_sides: 5
==

                                           Title
241    hairy_punter_and_his_enormous_boner_1080p
433   dont_call_in_sick_just_fuck_the_boss_1080p
434                      king_of_the_jungle_720p
804     cumming_home_for_christmas_part_one_720p
1083        my_girlfriends_mum_has_a_secret_720p
1219                     spies_in_disguise_1080p
1255             the_scoundrel_strikes_hard_720p

In [ ]:
df_class_ps = dfActualPS(actual_ps, chosen_model_brazz_site, max_page_len_of_chosen_model, csv_final)

In [ ]:
df_chosen_ps = df_class_ps.createDfActualPS()

In [ ]:
df_chosen_ps

In [ ]:
missing_titles = df_class_ps.getMissingTitles()

In [ ]:
actual_title = df_class_ps.compareWithDfFinal()

In [ ]:
actual_title

In [ ]:
actual_title = df_class_ps.compareWithDfFinal()
actual_title

In [ ]:
df_chosen_ps = df_class_ps.createDfActualPS()

In [ ]:
df_chosen_ps

In [ ]:
df_class_ps.getMissingTitles()

In [ ]:
df_class_ps.search_titles(df_ps_for_search, "date")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
dfActualPS(actual_ps="Armani Black", chosen_model_brazz_site="https://www.brazzers.com/videos/models/80821/armani-black/page/", max_pagelength_of_ps=3, csv_final='df_final_10_03_23.csv')
df_curent_final = pd.read_csv("df_final_10_03_23.csv", index_col=[0])

In [ ]:
df_current_final = pd.read_csv("df_final_10_03_23.csv", index_col=[0])

In [ ]:
titles_current_ps = df_class_ps.compareWithDfFinal()

In [ ]:
df_class_ps.getMissingTitles

In [ ]:
df_class_ps.search_titles(df_curent_final, "bathing")