### Scan comparison between df_final and my_db

In [10]:
import pandas as pd
import math
import sys
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important; }</style>"))
sys.path.append('/Users/joerg/repos/braz')
from utilities_functions import scan_func
# To run all commands within one cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', None)
# default behaviour:
# InteractiveShell.ast_node_interactivity = "last_expr"

/var/folders/z2/_gyyb63x4pv6zvl1bd53ryg00000gn/T/ipykernel_1361/1151557268.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

#### Jasmine Jae

In [3]:
chosen_model_jasmine_jae = ['https://www.brazzers.com/videos/models/16357/jasmine-jae/page/']
max_page_len_of_sites_jj = [2]

In [7]:
page_content_db = pd.DataFrame()
page_number_db = {}
page_content_tmp = {}
page_columns = []
ps1_db = pd.DataFrame()
ps2_db = {}
title_db = {}
db_actual_site_name = pd.DataFrame()
db_final_tmp = pd.DataFrame()
db_actual_site_name_sliced = pd.DataFrame()

# Determination of the maximum number of pages
# for lf_root in db_sites[12:13]:
#     db_page_tmp_2 = scan_func(lf_root)
#     db_page_tmp_2 = [i for i in db_page_tmp if i.startswith('/videos/site/')]
#         print('db_page_tmp: ', db_page_tmp_2)

        
        
for root_site, number in zip(chosen_model_jasmine_jae[:], max_page_len_of_sites_jj):
    print('max..' , number)
  

    # max_page_number = math.ceil(int(number) / 24)
       
    for page_nr in range(1, int(number) + 1):
        print('page_nr: ', page_nr)
        actual_site = root_site + str(page_nr)
        site_name = actual_site.split('/')[-5].replace('-', ' ').title()
            
        print('site_name: ', site_name)
        db_page_tmp = scan_func(actual_site)
        #print('db_page_tmp: ', db_page_tmp)
        db_page_video = [i for i in db_page_tmp if i.startswith('/video/')]
        
        db_page_ps = [i for i in db_page_tmp if i.startswith('/pornstar/')]
        ps1 = [h.split('/')[-1].replace('-','_') for h in db_page_ps[::2]]
        ps2 = [h.split('/')[-1].replace('-', '_') for h in db_page_ps[1::2]]
        
        title = [h.split('/')[-1].replace('-', '_') for h in db_page_video[::2]]
        #print('title: ', title)
        site_tmp = [site_name]
        #print('site_tmp: ', site_name)
        site = list(site_tmp) * 24
        #print('site: ', site)
        
        
        ps1_db = pd.DataFrame(ps1)
        ps2_db = pd.DataFrame(ps2)
        title_db = pd.DataFrame(title)
        site_db = pd.DataFrame(site)
        
        db_all_tmp = pd.concat([site_db, ps1_db, ps2_db, title_db], axis=1)
        custom_cols = ['Site', 'PS1', 'PS2', 'Title']
        #print('db_all_tmp: ', db_all_tmp)
        db_all_tmp.columns = custom_cols
        db_actual_site_name = pd.concat([db_actual_site_name, db_all_tmp])
        #print('db_all_tmp: ', db_all_tmp)
        #print('db_actual_site_name:\n ', db_actual_site_name)

    df_tmp = db_actual_site_name
    #print('db_actual_site_name: ', db_actual_site_name)
    
df_jj_tmp = db_actual_site_name
jasmine_jae_df = df_jj_tmp[df_jj_tmp['PS1'].notna()]

max.. 2
page_nr:  1
site_name:  Models
scanning Site: https://www.brazzers.com/videos/models/16357/jasmine-jae/page/1, Response: <Response [200]>
page_nr:  2
site_name:  Models
scanning Site: https://www.brazzers.com/videos/models/16357/jasmine-jae/page/2, Response: <Response [200]>

In [8]:
jasmine_jae_df

,Site,PS1,PS2,Title
0,Models,jasmine_jae,danny_d,the_horniest_man_on_earth
1,Models,jasmine_jae,danny_d,sexscape_room
2,Models,jasmine_jae,danny_d,his_best_friends_bedding
3,Models,madison_ivy,jasmine_jae,tour_of_london_part_one_remastered
4,Models,jasmine_jae,charles_dera,you_messed_up
5,Models,jasmine_jae,jordi_el_nino_polla,my_fucking_step_goal
6,Models,jasmine_jae,keiran_lee,waking_up_the_comatose_cock
7,Models,jasmine_jae,markus_dupree,assmissible_evidence
8,Models,jasmine_jae,danny_d,tea_and_crump_tits
9,Models,jasmine_jae,jordi_el_nino_polla,horsing_around_with_the_stable_boy
10,Models,jasmine_jae,danny_d,boning_the_butler
11,Models,jasmine_jae,jordi_el_nino_polla,the_agency
12,Models,jasmine_jae,marc_rose,the_slutty_chef
13,Models,jasmine_jae,courtney_taylor,can_i_bother_you_for_a_tall_glass_of_dick
14,Models,jasmine_jae,keiran_lee,quid_pro_blow
15,Models,monique_alexander,stella_cox,cock_of_duty_a_xxx_parody
16,Models,anissa_kate,jasmine_jae,storm_of_kings_xxx_parody_part_1
17,Models,stella_cox,jasmine_jae,bringing_stepsiblings_closer_together
18,Models,jasmine_jae,mick_blue,to_assfuck_a_neighbor
19,Models,madison_ivy,jasmine_jae,un_tour_por_londres_primera_parte
20,Models,jasmine_jae,keiran_lee,a_piece_of_jasmine_jaes_ass
21,Models,nina_elle,chanel_preston,keiran_lees_1000th_this_is_your_zz_life
22,Models,jasmine_jae,rebecca_more,office_4_play_viii_uk_edition
23,Models,madison_ivy,jasmine_jae,tour_of_london_part_one
0,Models,jasmine_jae,lou_lou,parliamentary_pussy
1,Models,erica_fontes,jasmine_jae,world_cup_uk_team_tits
2,Models,emma_leigh,jasmine_jae,four_hands_to_jerk_the_clerk
3,Models,jasmine_jae,jay_snake,scaring_the_pants_off_him
4,Models,jasmine_jae,ryan_ryder,giving_teacher_the_d
5,Models,jasmine_jae,rebecca_more,how_danny_d_stole_xxx_mas
6,Models,jasmine_jae,danny_d,i_want_to_make_you_squirt
7,Models,jasmine_jae,danny_d,benny_hilled
8,Models,jasmine_jae,porsha_sins,keiran_lee_nympho_insomniac

In [ ]:
df_old = df_1_tmp[df_1_tmp['PS1'].notna()]

In [ ]:
len(df_old)

In [11]:
chosen_model_rebecca_more = ['https://www.brazzers.com/videos/models/30435/rebecca-more/page']
max_page_len_of_sites_rm = [1]

In [12]:
page_content_db = pd.DataFrame()
page_number_db = {}
page_content_tmp = {}
page_columns = []
ps1_db = pd.DataFrame()
ps2_db = {}
title_db = {}
db_actual_site_name = pd.DataFrame()
db_final_tmp = pd.DataFrame()
db_actual_site_name_sliced = pd.DataFrame()
        
for root_site, number in zip(chosen_model_rebecca_more[:], max_page_len_of_sites_rm):
    print('max..' , number)
       
    for page_nr in range(1, int(number) + 1):
        print('page_nr: ', page_nr)
        actual_site = root_site + str(page_nr)
        site_name = actual_site.split('/')[-5].replace('-', ' ').title()
            
        print('site_name: ', site_name)
        db_page_tmp = scan_func(actual_site)
        #print('db_page_tmp: ', db_page_tmp)
        db_page_video = [i for i in db_page_tmp if i.startswith('/video/')]
        
        db_page_ps = [i for i in db_page_tmp if i.startswith('/pornstar/')]
        ps1 = [h.split('/')[-1].replace('-','_') for h in db_page_ps[::2]]
        ps2 = [h.split('/')[-1].replace('-', '_') for h in db_page_ps[1::2]]
        
        title = [h.split('/')[-1].replace('-', '_') for h in db_page_video[::2]]
        #print('title: ', title)
        site_tmp = [site_name]
        #print('site_tmp: ', site_name)
        site = list(site_tmp) * 24
        #print('site: ', site)
        
        
        ps1_db = pd.DataFrame(ps1)
        ps2_db = pd.DataFrame(ps2)
        title_db = pd.DataFrame(title)
        site_db = pd.DataFrame(site)
        
        db_all_tmp = pd.concat([site_db, ps1_db, ps2_db, title_db], axis=1)
        custom_cols = ['Site', 'PS1', 'PS2', 'Title']
        #print('db_all_tmp: ', db_all_tmp)
        db_all_tmp.columns = custom_cols
        db_actual_site_name = pd.concat([db_actual_site_name, db_all_tmp])
        #print('db_all_tmp: ', db_all_tmp)
        #print('db_actual_site_name:\n ', db_actual_site_name)

    df_tmp = db_actual_site_name
    #print('df_tmp: ', db_actual_site_name)
    
df_1_tmp = db_actual_site_name
rebecca_more_df = df_1_tmp[df_1_tmp['PS1'].notna()]

max.. 1
page_nr:  1
site_name:  Videos
scanning Site: https://www.brazzers.com/videos/models/30435/rebecca-more/page1, Response: <Response [200]>

In [34]:
def search(dataframe, item):
    mask = (dataframe.applymap(lambda x: isinstance(x, str) and item in x)).any(1)
    print(mask)
    return dataframe[mask]

In [35]:
search(rebecca_more_df, 'rebecca')

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18     True
19    False
20     True
21    False
dtype: bool

,Site,PS1,PS2,Title
0,Videos,rebecca_more,danny_d,peep_show_a_go_go
1,Videos,rebecca_more,danny_d,when_evil_takes_over
3,Videos,rebecca_more,rebecca_more,rebeccas_shower_time_fun
4,Videos,jordi_el_nino_polla,rebecca_more,just_one_clit_away
5,Videos,jordi_el_nino_polla,rebecca_more,meeting_his_horny_monster_a_xxx_parody
6,Videos,jordi_el_nino_polla,rebecca_more,flex_and_sex
7,Videos,danny_d,rebecca_more,poker_face
9,Videos,rebecca_more,tina_kay,queen_of_thrones_part_4_a_xxx_parody
10,Videos,rebecca_more,rebecca_more,queen_of_thrones_part_1_a_xxx_parody
11,Videos,stacey_saran,rebecca_more,rub_and_tug_tub
12,Videos,danny_d,rebecca_more,massaging_mrs_moore
13,Videos,danny_d,rebecca_more,bankrupt_morals
14,Videos,jordi_el_nino_polla,mea_melone,ramming_rebecca
15,Videos,rebecca_more,rebecca_more,the_mathletes_part_three
17,Videos,rebecca_more,rebecca_more,office_4_play_viii_uk_edition
18,Videos,danny_d,rebecca_more,merry_pumpingss_nanny_service
20,Videos,rebecca_more,rebecca_more,how_danny_d_stole_xxx_mas

In [28]:
rebecca_more_df

,Site,PS1,PS2,Title
0,Videos,rebecca_more,danny_d,peep_show_a_go_go
1,Videos,rebecca_more,danny_d,when_evil_takes_over
2,Videos,adriana_chechik,violet_starr,best_of_brazzers_fantastic_facials
3,Videos,rebecca_more,rebecca_more,rebeccas_shower_time_fun
4,Videos,jordi_el_nino_polla,rebecca_more,just_one_clit_away
5,Videos,jordi_el_nino_polla,rebecca_more,meeting_his_horny_monster_a_xxx_parody
6,Videos,jordi_el_nino_polla,rebecca_more,flex_and_sex
7,Videos,danny_d,rebecca_more,poker_face
8,Videos,rhiannon_ryder,ella_hughes,pussy_is_international
9,Videos,rebecca_more,tina_kay,queen_of_thrones_part_4_a_xxx_parody
10,Videos,rebecca_more,rebecca_more,queen_of_thrones_part_1_a_xxx_parody
11,Videos,stacey_saran,rebecca_more,rub_and_tug_tub
12,Videos,danny_d,rebecca_more,massaging_mrs_moore
13,Videos,danny_d,rebecca_more,bankrupt_morals
14,Videos,jordi_el_nino_polla,mea_melone,ramming_rebecca
15,Videos,rebecca_more,rebecca_more,the_mathletes_part_three
16,Videos,danny_d,jasmine_jae,sperm_bank_deposit
17,Videos,rebecca_more,rebecca_more,office_4_play_viii_uk_edition
18,Videos,danny_d,rebecca_more,merry_pumpingss_nanny_service
19,Videos,danny_d,jasmine_jae,lean_clean_reaming_machine
20,Videos,rebecca_more,rebecca_more,how_danny_d_stole_xxx_mas
21,Videos,keiran_lee,NaN,afternoon_fun

In [14]:
#['https://www.brazzers.com/videos/models/30435/rebecca-more/page']
chosen_model_carmella_bing = ['https://www.brazzers.com/videos/models/2643/carmella-bing/page/']
max_page_len_of_sites_cb = [2]

In [17]:
page_content_db = pd.DataFrame()
page_number_db = {}
page_content_tmp = {}
page_columns = []
ps1_db = pd.DataFrame()
ps2_db = {}
title_db = {}
db_actual_site_name = pd.DataFrame()
db_final_tmp = pd.DataFrame()
db_actual_site_name_sliced = pd.DataFrame()
        
for root_site, number in zip(chosen_model_carmella_bing[:], max_page_len_of_sites_cb):
    print('max..' , number)
       
    for page_nr in range(1, int(number) + 1):
        print('page_nr: ', page_nr)
        actual_site = root_site + str(page_nr)
        site_name = actual_site.split('/')[-5].replace('-', ' ').title()
            
        print('site_name: ', site_name)
        db_page_tmp = scan_func(actual_site)
        #print('db_page_tmp: ', db_page_tmp)
        db_page_video = [i for i in db_page_tmp if i.startswith('/video/')]
        
        db_page_ps = [i for i in db_page_tmp if i.startswith('/pornstar/')]
        ps1 = [h.split('/')[-1].replace('-','_') for h in db_page_ps[::2]]
        ps2 = [h.split('/')[-1].replace('-', '_') for h in db_page_ps[1::2]]
        
        title = [h.split('/')[-1].replace('-', '_') for h in db_page_video[::2]]
        #print('title: ', title)
        site_tmp = [site_name]
        #print('site_tmp: ', site_name)
        site = list(site_tmp) * 24
        #print('site: ', site)
        
        
        ps1_db = pd.DataFrame(ps1)
        ps2_db = pd.DataFrame(ps2)
        title_db = pd.DataFrame(title)
        site_db = pd.DataFrame(site)
        
        db_all_tmp = pd.concat([site_db, ps1_db, ps2_db, title_db], axis=1)
        custom_cols = ['Site', 'PS1', 'PS2', 'Title']
        #print('db_all_tmp: ', db_all_tmp)
        db_all_tmp.columns = custom_cols
        db_actual_site_name = pd.concat([db_actual_site_name, db_all_tmp])
        #print('db_all_tmp: ', db_all_tmp)
        #print('db_actual_site_name:\n ', db_actual_site_name)

    df_tmp = db_actual_site_name
    #print('df_tmp: ', db_actual_site_name)
    
df_1_tmp = db_actual_site_name
carmella_bing_df = df_1_tmp[df_1_tmp['PS1'].notna()]

max.. 2
page_nr:  1
site_name:  Models
scanning Site: https://www.brazzers.com/videos/models/2643/carmella-bing/page/1, Response: <Response [200]>
page_nr:  2
site_name:  Models
scanning Site: https://www.brazzers.com/videos/models/2643/carmella-bing/page/2, Response: <Response [200]>

In [18]:
carmella_bing_df = carmella_bing_df.reset_index(drop=True)

In [19]:
carmella_bing_df

,Site,PS1,PS2,Title
0,Models,carmella_bing,johnny_sins,chefs_recipe_for_success
1,Models,carmella_bing,ralph_long,balls_of_steel
2,Models,carmella_bing,holly_halston,truth_n_tits
3,Models,carmella_bing,angelina_valentine,dodgeballs
4,Models,phoenix_marie,carmella_bing,f_stands_for_fuck
5,Models,carmella_bing,nikki_benz,the_royal_cock_of_1469
6,Models,sienna_west,carmella_bing,an_uninvited_guest
7,Models,carmella_bing,scott_nails,fun_times_in_california
8,Models,sienna_west,carmella_bing,orgy_at_siennas_house
9,Models,carmella_bing,holly_halston,sweep_your_big_cock_in_our_pussies
10,Models,shyla_stylez,carmella_bing,how_the_grinch_fucked_xmas
11,Models,carmella_bing,keiran_lee,city_beautification_tits
12,Models,carmella_bing,scott_nails,big_butt_dive
13,Models,carmella_bing,johnny_sins,the_hunter
14,Models,carmella_bing,justin_magnum,happy_ass_day
15,Models,carmella_bing,andrew_andretti,anti_vaginal_penetration_disorder
16,Models,carmella_bing,johnny_sins,busty_bing_is_back
17,Models,eva_angelina,rachel_starr,big_butt_extravaganza
18,Models,carmella_bing,john_west,miss_bings_anatomy
19,Models,shyla_stylez,carmella_bing,ultimate_dream_team
20,Models,carmella_bing,andrew_andretti,a_day_with_carmella
21,Models,shyla_stylez,carmella_bing,2_good_2_be_true
22,Models,carmella_bing,cj,everyones_favourite_visitor
23,Models,carmella_bing,sergio,the_big_distraction
24,Models,carmella_bing,joe_blow,new_opportunities
25,Models,carmella_bing,carmella_bing,bada_bing
26,Models,demi_delia,davia_ardell,whores_anatomy
27,Models,carmella_bing,NaN,fight_for_the_job

***

### create the df_final...

In [ ]:
df_ms = pd.read_csv('df_missing_sites.csv', index_col=[0])
# Delete the rows which contain NaN Cells in the column PS1
df_ms = df_ms[df_ms['PS1'].notna()]

df_f = pd.read_csv('final_df_11_04_2022.csv', index_col=[0])
# Delete the rows which contain NaN Cells in the column PS1
df_f = df_f[df_f['PS1'].notna()]

df_final = pd.concat([df_ms, df_f])

# Reset the index... 
df_final = df_final.reset_index()
del df_final['index']

df_final.to_csv('df_final_inklusive_ms.csv')

***

### Comparison of df_final and my_db...

Load the df_final

In [ ]:
import pandas as pd
df_final = pd.read_csv('df_final_inklusive_ms.csv', index_col=[0])

Load my_db and slicing to a adequate format.

In [3]:
import pandas as pd

In [4]:
df_my_db = pd.read_csv('df_final_my_db_py_11_07_2022.csv', index_col=[0])

In [7]:
df_my_db[(df_my_db['Site'] == "Doctor Adventures") & (df_my_db['PS1'] == "Carmella Bing")]

,Site,PS1,PS2,Title,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,Location,Link
1671,Doctor Adventures,Carmella Bing,No Name,anti_vaginal_penetration disorder_480p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/doctor...
1672,Doctor Adventures,Carmella Bing,Demi Delia,whores_anatomy_480p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/doctor...

In [8]:
# make the column "Title" comparable with the Title-column of df_final
title_only = ['_'.join(x.split('_')[:-1]) for x in df_my_db['Title']]
df_my_db['Title'] = title_only
del df_my_db['Location']
del df_my_db['Link']

Look, which titles of my_db are in the df_final..

### Reduce the df by choosen PS!

In [9]:
chosen_ps = "Carmella Bing"
reduced_df_by_ps = df_my_db[(df_my_db['PS1'] == chosen_ps) | (df_my_db['PS2'] == chosen_ps) | (df_my_db['PS3'] == chosen_ps) | \
                            (df_my_db['PS4'] == chosen_ps) | (df_my_db['PS5'] == chosen_ps) | (df_my_db['PS6'] == chosen_ps) | \
                            (df_my_db['PS7'] == chosen_ps) | (df_my_db['PS8'] == chosen_ps) | (df_my_db['PS9'] == chosen_ps) | \
                            (df_my_db['PS10'] == chosen_ps)]

In [11]:
reduced_df_by_ps

,Site,PS1,PS2,Title,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10
64,Big Butts Like It Big,Carmella Bing,Shyla Stylez,how_the_grinch_fucked_xmas,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
293,Big Tits At Work,Carmella Bing,Holly Halston,truth_n_tits,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
810,Brazzers Vault,Carmella Bing,No Name,balls_of_steel,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1290,Pornstars Like It Big,Angelina Valentine,Carmella Bing,the_royal_cock_of_1469,Nikki Benz,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1572,Big Tits At School,Carmella Bing,No Name,miss_bings_anatomy,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1578,Big Tits At Work,Carmella Bing,No Name,city_beautification_tits,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1582,Big Tits In Sports,Angelina Valentine,Carmella Bing,dodgeballs,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1584,Big Tits In Sports,Carmella Bing,Holly Halston,sweep_your_big_cock_in_our_pussies,Tanya James,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1585,Big Tits In Uniform,Carmella Bing,No Name,chefs_recipe_for_success,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1590,Big Wet Butts,Carmella Bing,No Name,big_butt_dive,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1591,Big Wet Butts,Carmella Bing,No Name,happy_ass_day,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1592,Big Wet Butts,Carmella Bing,Eva,big_butt_extravaganza,Angelina Rachel Starr,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1664,Day With A Pornstar,Carmella Bing,No Name,fun_times_in_california,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1671,Doctor Adventures,Carmella Bing,No Name,anti_vaginal_penetration disorder,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1672,Doctor Adventures,Carmella Bing,Demi Delia,whores_anatomy,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1697,Pornstars Like It Big,Angelina Valentine,Carmella Bing,orgy_at_siennas_house,Sienna West,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1700,Pornstars Like It Big,Carmella Bing,No Name,the_hunter,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1701,Pornstars Like It Big,Carmella Bing,Gianna Michaels,ultimate_dream_team,Shyla Stylez,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1702,Pornstars Like It Big,Carmella Bing,Sienna West,orgy_at_siennas_house,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name
1712,Real Wife Stories,Carmella Bing,Sienna West,an_uninvited_guest,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name

In [12]:
my_df_cb_title = reduced_df_by_ps['Title']

In [20]:
carmella_bing_df

,Site,PS1,PS2,Title
0,Models,carmella_bing,johnny_sins,chefs_recipe_for_success
1,Models,carmella_bing,ralph_long,balls_of_steel
2,Models,carmella_bing,holly_halston,truth_n_tits
3,Models,carmella_bing,angelina_valentine,dodgeballs
4,Models,phoenix_marie,carmella_bing,f_stands_for_fuck
5,Models,carmella_bing,nikki_benz,the_royal_cock_of_1469
6,Models,sienna_west,carmella_bing,an_uninvited_guest
7,Models,carmella_bing,scott_nails,fun_times_in_california
8,Models,sienna_west,carmella_bing,orgy_at_siennas_house
9,Models,carmella_bing,holly_halston,sweep_your_big_cock_in_our_pussies
10,Models,shyla_stylez,carmella_bing,how_the_grinch_fucked_xmas
11,Models,carmella_bing,keiran_lee,city_beautification_tits
12,Models,carmella_bing,scott_nails,big_butt_dive
13,Models,carmella_bing,johnny_sins,the_hunter
14,Models,carmella_bing,justin_magnum,happy_ass_day
15,Models,carmella_bing,andrew_andretti,anti_vaginal_penetration_disorder
16,Models,carmella_bing,johnny_sins,busty_bing_is_back
17,Models,eva_angelina,rachel_starr,big_butt_extravaganza
18,Models,carmella_bing,john_west,miss_bings_anatomy
19,Models,shyla_stylez,carmella_bing,ultimate_dream_team
20,Models,carmella_bing,andrew_andretti,a_day_with_carmella
21,Models,shyla_stylez,carmella_bing,2_good_2_be_true
22,Models,carmella_bing,cj,everyones_favourite_visitor
23,Models,carmella_bing,sergio,the_big_distraction
24,Models,carmella_bing,joe_blow,new_opportunities
25,Models,carmella_bing,carmella_bing,bada_bing
26,Models,demi_delia,davia_ardell,whores_anatomy
27,Models,carmella_bing,NaN,fight_for_the_job

In [21]:
my_df_cb_title

64              how_the_grinch_fucked_xmas
293                           truth_n_tits
810                         balls_of_steel
1290                the_royal_cock_of_1469
1572                    miss_bings_anatomy
1578              city_beautification_tits
1582                            dodgeballs
1584    sweep_your_big_cock_in_our_pussies
1585              chefs_recipe_for_success
1590                         big_butt_dive
1591                         happy_ass_day
1592                 big_butt_extravaganza
1664               fun_times_in_california
1671     anti_vaginal_penetration disorder
1672                        whores_anatomy
1697                 orgy_at_siennas_house
1700                            the_hunter
1701                   ultimate_dream_team
1702                 orgy_at_siennas_house
1712                    an_uninvited_guest
Name: Title, dtype: object

In [22]:
carmella_bing_df['in_my_db'] = 'No'
for single_title in reduced_df_by_ps['Title']:
    for cb_title in carmella_bing_df['Title']:
        if cb_title == single_title:
            print('cb_title: ', cb_title)
            #index_found = reduced_df_by_ps[reduced_df_by_ps['Title']==cb_title].index.item()
            index_found_cb_df = carmella_bing_df[carmella_bing_df['Title']==cb_title].index.item()
            #print('found at my_df index: ',  str(index_found))
            print('found at cb_df_index: ', str(index_found_cb_df))
            carmella_bing_df.loc[index_found_cb_df,'in_my_db'] = 'Yes'

cb_title:  how_the_grinch_fucked_xmas
found at cb_df_index:  10
cb_title:  truth_n_tits
found at cb_df_index:  2
cb_title:  balls_of_steel
found at cb_df_index:  1
cb_title:  the_royal_cock_of_1469
found at cb_df_index:  5
cb_title:  miss_bings_anatomy
found at cb_df_index:  18
cb_title:  city_beautification_tits
found at cb_df_index:  11
cb_title:  dodgeballs
found at cb_df_index:  3
cb_title:  sweep_your_big_cock_in_our_pussies
found at cb_df_index:  9
cb_title:  chefs_recipe_for_success
found at cb_df_index:  0
cb_title:  big_butt_dive
found at cb_df_index:  12
cb_title:  happy_ass_day
found at cb_df_index:  14
cb_title:  big_butt_extravaganza
found at cb_df_index:  17
cb_title:  fun_times_in_california
found at cb_df_index:  7
cb_title:  whores_anatomy
found at cb_df_index:  26
cb_title:  orgy_at_siennas_house
found at cb_df_index:  8
cb_title:  the_hunter
found at cb_df_index:  13
cb_title:  ultimate_dream_team
found at cb_df_index:  19
cb_title:  orgy_at_siennas_house
found at cb_df_index:  8
cb_title:  an_uninvited_guest
found at cb_df_index:  6

In [24]:
carmella_bing_df[carmella_bing_df['in_my_db'] == 'No'][['Title']]

                                Title
4                   f_stands_for_fuck
15  anti_vaginal_penetration_disorder
16                 busty_bing_is_back
20                a_day_with_carmella
21                   2_good_2_be_true
22        everyones_favourite_visitor
23                the_big_distraction
24                  new_opportunities
25                          bada_bing
27                  fight_for_the_job

In [125]:
carmella_bing_df.loc[10,'in_my_db'] = 'Yes'

In [126]:
carmella_bing_df

,Site,PS1,PS2,Title,in_my_db
0,Models,carmella_bing,johnny_sins,chefs_recipe_for_success,No
1,Models,carmella_bing,ralph_long,balls_of_steel,No
2,Models,carmella_bing,holly_halston,truth_n_tits,No
3,Models,carmella_bing,angelina_valentine,dodgeballs,No
4,Models,phoenix_marie,carmella_bing,f_stands_for_fuck,No
5,Models,carmella_bing,nikki_benz,the_royal_cock_of_1469,No
6,Models,sienna_west,carmella_bing,an_uninvited_guest,No
7,Models,carmella_bing,scott_nails,fun_times_in_california,No
8,Models,sienna_west,carmella_bing,orgy_at_siennas_house,No
9,Models,carmella_bing,holly_halston,sweep_your_big_cock_in_our_pussies,No
10,Models,shyla_stylez,carmella_bing,how_the_grinch_fucked_xmas,Yes
11,Models,carmella_bing,keiran_lee,city_beautification_tits,No
12,Models,carmella_bing,scott_nails,big_butt_dive,No
13,Models,carmella_bing,johnny_sins,the_hunter,No
14,Models,carmella_bing,justin_magnum,happy_ass_day,No
15,Models,carmella_bing,andrew_andretti,anti_vaginal_penetration_disorder,No
16,Models,carmella_bing,johnny_sins,busty_bing_is_back,No
17,Models,eva_angelina,rachel_starr,big_butt_extravaganza,No
18,Models,carmella_bing,john_west,miss_bings_anatomy,No
19,Models,shyla_stylez,carmella_bing,ultimate_dream_team,No
20,Models,carmella_bing,andrew_andretti,a_day_with_carmella,No
21,Models,shyla_stylez,carmella_bing,2_good_2_be_true,No
22,Models,carmella_bing,cj,everyones_favourite_visitor,No
23,Models,carmella_bing,sergio,the_big_distraction,No
24,Models,carmella_bing,joe_blow,new_opportunities,No
25,Models,carmella_bing,carmella_bing,bada_bing,No
26,Models,demi_delia,davia_ardell,whores_anatomy,No
27,Models,carmella_bing,NaN,fight_for_the_job,No

In [102]:
#for cb_title in carmella_bing_df['Title']:
#    print(cb_title)
carmella_bing_df['Title']

0               chefs_recipe_for_success
1                         balls_of_steel
2                           truth_n_tits
3                             dodgeballs
4                      f_stands_for_fuck
5                 the_royal_cock_of_1469
6                     an_uninvited_guest
7                fun_times_in_california
8                  orgy_at_siennas_house
9     sweep_your_big_cock_in_our_pussies
10            how_the_grinch_fucked_xmas
11              city_beautification_tits
12                         big_butt_dive
13                            the_hunter
14                         happy_ass_day
15     anti_vaginal_penetration_disorder
16                    busty_bing_is_back
17                 big_butt_extravaganza
18                    miss_bings_anatomy
19                   ultimate_dream_team
20                   a_day_with_carmella
21                      2_good_2_be_true
22           everyones_favourite_visitor
23                   the_big_distraction
24                     new_opportunities
25                             bada_bing
26                        whores_anatomy
27                     fight_for_the_job
Name: Title, dtype: object

In [103]:
reduced_df_by_ps['Title']

64              how_the_grinch_fucked_xmas
293                           truth_n_tits
810                         balls_of_steel
1290                the_royal_cock_of_1469
1572                    miss_bings_anatomy
1578              city_beautification_tits
1582                            dogdeballs
1584    sweep_your_big_cock_in_our_pussies
1585              chefs_recipe_for_success
1590                         big_butt_dive
1591                         happy_ass_day
1592                 big_butt_extravaganza
1664               fun_times_in_california
1693                            the_hunter
1694                 orgy_at_siennas_house
Name: Title, dtype: object

In [100]:
df_my_db.iloc[1582,:]

Site      Big Tits In Sports
PS1       Angelina Valentine
PS2            Carmella Bing
Title             dogdeballs
PS3                  No Name
PS4                  No Name
PS5                  No Name
PS6                  No Name
PS7                  No Name
PS8                  No Name
PS9                  No Name
PS10                 No Name
Name: 1582, dtype: object

In [21]:
df_final['available_in_my_db'] = 'no'

NameError: name 'df_final' is not defined

In [ ]:
# The code below cost a lot of time. How can I accelerate these two for-loops?
# Trying at the bottom.... not yet????

In [ ]:
%%time

for index_df_final, row_df_final in df_final.iloc[:].iterrows():
    for index_my_db, row_my_db in df_my_db.iterrows():
        if row_my_db['Title'] == row_df_final['Title']:
            df_final.loc[index_df_final, 'available_in_my_db'] = 'yes'

#time_start = datetime.datetime.now()
#print('time_start: ', time_start)


***

## Another try: With fuzzywuzzy...

In [ ]:
# Since the code at the upper cell cost so much time, I save this in a csv
# df_final.to_csv('df_final_adjustment_my_db.csv')

In [ ]:
# Reading my_db and df_final..
# df_final_ad = pd.read_csv('df_final_adjustment_my_db.csv', index_col=[0])
# --> this df_final_ad is the first result of the comparision between my_db and df_final
# BUT: There are also missing titles...
# Therefore another algorithm will be tried

In [ ]:
df_my_db = pd.read_csv('df_final_my_db_py_19_04_2022.csv', index_col=[0])
df_final = pd.read_csv('df_final_inklusive_ms.csv', index_col=[0])

In [ ]:
my_db_title_only = ['_'.join(x.split('_')[:-1]) for x in df_my_db['Title']]
df_final_title_only = [x for x in df_final['Title']]

Trying to calculate the fuzzy_value and writing this into a dataframe....

In [ ]:
from fuzzywuzzy import fuzz

In [ ]:
%%time

df_final_title = []
my_db_title =[]
index_df_final = []
index_my_db = []
fuzz_val = []

for lf_f in df_final_title_only[:]:
    for lf_m in my_db_title_only[:]:
        val = fuzz.ratio(lf_f, lf_m)
        if val > 90:
            #print('val: ', val)
            fuzz_val.append(val)
            
            #print('lf_f: ', lf_f)
            df_final_title.append(lf_f)
            
            #print('lf_f_index: ', df_final_title_only.index(lf_f))
            index_df_final.append(df_final_title_only.index(lf_f))
            
            #print('lf_m: ', lf_m)
            my_db_title.append(lf_m)
            
            #print('lf_m_index: ', my_db_title_only.index(lf_m))
            index_my_db.append(my_db_title_only.index(lf_m))
            
            #print('===')

compare_db = {'df_final_title': df_final_title, 'index_df_final': index_df_final, 'my_db_title': my_db_title, 'index_my_db': index_my_db, 'fuzzy_value': fuzz_val}  
#columns = ['df_final_title', 'index_df_final', 'my_db_title', 'index_my_db', 'fuzzy_value']
#compare_db[columns]

In [ ]:
compare_db = pd.DataFrame.from_dict(compare_db)

In [ ]:
len(compare_db['fuzzy_value'])

Looking the Titles, for which the fuzzy_value is between 90 and 100     
These Titles are at different names in my_db compared to the df_final     
and need to be re-named!  
The counts are 346

In [ ]:
#compare_db[compare_db['fuzzy_value'] !=100]

make a deepcopy of the 'original' compare_db...

In [ ]:
import copy
compare_db_backup = copy.deepcopy(compare_db)

In [ ]:
compare_db['edited'] = 'no'

In [ ]:
df_compare_db_14_04_22 = compare_db[compare_db['fuzzy_value'] != 100]

In [ ]:
# For sureness... This csv-file can be loaded and edited further...
df_compare_db_14_04_22.to_csv('df_compare_db_14_04_22.csv')

In [ ]:
compare_db = pd.read_csv('df_compare_db_14_04_22.csv', index_col=[0])

In [ ]:
compare_db[compare_db['fuzzy_value'] != 100][199:300]

#### Look in `my_db`for Title and Site-Information...

In [ ]:
df_my_db.iloc[1524], df_final.iloc[9373]

In [ ]:
df_final.iloc[3352]

In [ ]:
compare_db[compare_db['fuzzy_value'] != 100][89:105].index.values

In [ ]:
# get indices of the chosen area...
indxs = compare_db[compare_db['fuzzy_value'] != 100][89:105].index.values

Now, look at the indices and change the "edited" value by hand...

In [ ]:
# indxs is the list of the indices of the chosen area...
compare_db.loc[indxs, 'edited'] = 'yes'
#df_2.iloc[1439]# , 'PS2']

### Look in `my_db` for the Title and Site Information

In [ ]:
ps_str = ""
title_string = 'moms_house_moms_rule'
#df_2[df_2['PS1'].str.contains(substr)]
df_my_db[df_my_db['PS1'].str.contains(ps_str) & df_my_db['Title'].str.contains(title_string)]

In [ ]:
dont_touch_her_3

### Look in `df_final` for Title...

In [ ]:
ps_str = ""
title_string = 'wanderlust'
#df_2[df_2['PS1'].str.contains(substr)]
df_final[df_final['PS1'].str.contains(ps_str) & df_final['Title'].str.contains(title_string)]

In [ ]:
len(df_final_ad[df_final_ad['available_in_my_db'] == 'yes'])

In [ ]:
# Counting the Titles, which are in df_final AND in my_db...
len_title_df_final = len(df_final_ad[df_final_ad['available_in_my_db'] == 'yes'])
len_my_db = len(df_my_db['Title'])
# There is a difference: len_df_my_db - len_title_df_final
print('len_my_db: ', len_my_db)
print('len_title_df_final: ', len_title_df_final)

# Difference: 
diff = len_my_db - len_title_df_final
print('diff: ', diff)

In [ ]:
len(df_final_ad[df_final_ad['available_in_my_db'] == 'yes'])

Try another method....

In [ ]:
from difflib import SequenceMatcher
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [ ]:
my_db_title_only[219:223]

In [ ]:
my_db_title_only = [x for x in df_my_db['Title']]
df_final_title_only = ['_'.join(x.split('_')[:-1]) for x in df_final['Title']]

In [ ]:
%%time
for i in range(1, 10):
    print(i)

In [ ]:
%lsmagic

In [ ]:
len(df_final_title_only), len(my_db_title_only)

In [ ]:
%%time

df_final_title = []
my_db_title =[]
index_df_final = []
index_my_db = []
fuzz_val = []

for lf_f in df_final_title_only[:]:
    for lf_m in my_db_title_only[:]:
        val = fuzz.ratio(lf_f, lf_m)
        if val > 90:
            #print('val: ', val)
            fuzz_val.append(val)
            
            #print('lf_f: ', lf_f)
            df_final_title.append(lf_f)
            
            #print('lf_f_index: ', df_final_title_only.index(lf_f))
            index_df_final.append(df_final_title_only.index(lf_f))
            
            #print('lf_m: ', lf_m)
            my_db_title.append(lf_m)
            
            #print('lf_m_index: ', my_db_title_only.index(lf_m))
            index_my_db.append(my_db_title_only.index(lf_m))
            
            #print('===')

compare_db = {'df_final_title': df_final_title, 'index_df_final': index_df_final, 'my_db_title': my_db_title, 'index_my_db': index_my_db, 'fuzzy_value': fuzz_val}  
#columns = ['df_final_title', 'index_df_final', 'my_db_title', 'index_my_db', 'fuzzy_value']
#compare_db[columns]

In [ ]:
compare_db = pd.DataFrame.from_dict(compare_db)

In [ ]:
compare_db[compare_db['fuzzy_value'] != 100]

In [ ]:
from fuzzywuzzy import fuzz

In [ ]:
fuzz.ratio("check out this example", "check out this exampel")

In [ ]:
%%time

match_value_list = []
similar_indices = []
match_val = []
for index_df_final, row_df_final in df_final.iloc[197:3210].iterrows():
    for index_my_db, row_my_db in df_my_db[775:780].iterrows():

        match_val = similar(row_my_db['Title'], row_df_final['Title'])
        match_value_list.append(match_val)
        similar_indices.append(index_df_final)
        
        #if match_val >= 0.95:
            
#print('similar_indices: ', similar_indices)
        #similar_value.append(similar(row_my_db['Title'], row_df_final['Title']))
    #print('similar_vlaue: ', similar_value)
        # if row_my_db['Title'] == row_df_final['Title']:
         #    df_final.loc[index_df_final, 'available_in_my_db'] = 'yes'

In [ ]:
pwd

In [ ]:
from collections import Counter

l = match_value_list
Counter(l)#.most_common(1)

In [ ]:
max(match_value_list)

In [ ]:
ps_str = ""
substr_2 = 'shes_a_smooth_operator'
#df_2[df_2['PS1'].str.contains(substr)]
df_my_db[df_my_db['PS1'].str.contains(ps_str) & df_my_db['Title'].str.contains(substr_2)]

In [ ]:
df_my_db[775:780]['Title']

In [ ]:
df_final.loc[[200, 628, 1290], 'Title']

Load my bra_db and compare this with the title-occurance within the df_final

### Load the special df of favourite PS... example: jasmine jae

In [ ]:
df_jj = pd.read_csv('df_jj.csv', index_col=[0])

In [ ]:
df_jj.tail()

Preparation: increase the column of df_jj for availability of the title within the df_final

In [ ]:
df_jj['df_final_av'] = 'no'

In [ ]:
# Look at the appearance of the titles in df_jj and df_f
for index_jj, row_jj in df_jj.iterrows():
    for index_df_f, row_df_f in df_final.iterrows():
        if row_df_f['Title'] == row_jj['Title']:
            df_jj.loc[index_jj, 'df_final_av'] = 'yes'

In [ ]:
df_jj

In [ ]:
df_jj['df_final_av'].value_counts()

In [ ]:
df_final[df_final['Title']== 'four_hands_to_jerk_the_clerk']

In [ ]:
df_ms = pd.read_csv('df_missing_sites.csv', index_col=[0])

In [ ]:
for index_jj, row_jj in df_jj.iterrows():
    for index_df_f, row_df_f in df_ms.iterrows():
        if row_df_f['Title'] == row_jj['Title']:
            df_jj.loc[index_jj, 'av_in_df_f'] = 'yes'

***

### Next step: Load my bra_db and compare this with the PS-occurance and with the complete database...

In [ ]:
df_my_db = pd.read_csv('df_final_my_db_py.csv', index_col=[0])
df_final = pd.read_csv('df_final_inklusive_ms.csv', index_col=[0])

In [ ]:
title_only = ['_'.join(x.split('_')[:-1]) for x in df_my_db['Title']]

In [ ]:
df_my_db['Title'] = title_only

In [ ]:
df_my_db_sliced = df_my_db

In [ ]:
del df_my_db_sliced['Location']
del df_my_db_sliced['Link']

In [ ]:
df_my_db

***

#### Look, which titles of my_db are in the final_df...

In [ ]:
df_final['available_in_my_db'] = 'no'

In [ ]:
for index_df_final, row_df_final in df_final.iloc[:].iterrows():
    for index_my_db, row_my_db in df_my_db_sliced.iterrows():
        if row_my_db['Title'] == row_df_final['Title']:
            df_final.loc[index_df_final, 'available_in_my_db'] = 'yes'

In [ ]:
len(df_final[df_final['available_in_my_db'] == 'yes'])

In [ ]:
len(df_my_db_sliced)

***

The other way ....

#### Look, which titles of final_db are in my_db...

In [ ]:
df_my_db_sliced['available_in_df_final'] = 'no'

In [ ]:
# This cost a lot of time. How can I accelerate these two for-loops?
# Trying at the bottom....
for index_my_db, row_my_db in df_my_db_sliced.iloc[:].iterrows():
    for index_df_final, row_df_final in df_final.iterrows():
        if row_df_final['Title'] == row_my_db['Title']:
            df_my_db_sliced.loc[index_my_db, 'available_in_df_final'] = 'yes'

***

There is a difference between titles within my_db and df_final, although I guess I have downloaded it.

In [ ]:
df_my_db_sliced[df_my_db_sliced['available_in_df_final'] == 'no']
len(df_my_db_sliced[df_my_db_sliced['available_in_df_final'] == 'no'])

looking for instance at jasmine jae....

In [ ]:
df_temp_1 = df_my_db_sliced[(df_my_db_sliced['PS1'] == 'Jasmine Jae') & (df_my_db_sliced['available_in_df_final'] == 'no')]

In [ ]:
df_temp_2 = df_final[(df_final['PS1'] == 'jasmine_jae') & (df_final['available_in_my_db'] == 'no')]

In [ ]:
list_df_final = df_temp_2.loc[[2927, 3060, 7925, 7747, 8444], 'Title']

In [ ]:
list_my_db = df_temp_1.loc[[320, 321, 1326, 1327, 1468], 'Title']

In [ ]:
df_temp_1

In [ ]:
list_df_final

In [ ]:
sim = []
for li1, li2 in zip(list_df_final, list_my_db):
    print(li2)
    sim.append(similar(li1, li2))

In [ ]:
sim

In [ ]:
list_my_db = df_temp_1.loc[[320, 321, 1326, 1327, 1468], 'Title']

In [ ]:
df_final.columns

In [ ]:

df_final['Title']

looking at index 1245... for instance.

In [ ]:
ps_str = ""
substr_2 = 'the_dick_pic_trick'
#df_2[df_2['PS1'].str.contains(substr)]
df_my_db[df_my_db['PS1'].str.contains(ps_str) & df_my_db['Title'].str.contains(substr_2)]

In [ ]:
my_db_list_title_column = [x for x in df_my_db_sliced['Title']]
df_final_title_column = [x for x in df_final['Title']]
#for index_my_db, row_my_db in df_my_db_sliced.iloc[200:220].iterrows():
#    print('row_my_db', row_my_db)

In [ ]:
len(df_final_title_column)

In [ ]:
df_final_title_column[-10:]

In [ ]:
list1 = ['little','blue','widget']
list2 = ['there','is','a','little','blue','cup','on','the','table']

list3 = set(list1) & set(list2)

list4 = sorted(list3, key = lambda k : list1.index(k))

In [ ]:
list4

In [ ]:
from difflib import SequenceMatcher
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [ ]:
similar("his_best_friend_s_bedding","his_best_friends_bedding")

In [ ]:
for index_my_db, row_my_db in df_my_db_sliced.iloc[200:400].iterrows():
    for index_df_final, row_df_final in df_final.iterrows():
        if row_df_final['Title'] == row_my_db['Title']:
            df_my_db_sliced.loc[index_my_db, 'available_in_df_final'] = 'yes'

In [ ]:
from tqdm import tqdm

In [ ]:
%%time

for row in tqdm(my_df.values[:10]):
    print('my_df.index[0]', my_df.row.index)
    print('row[0]', row[0])
    temp = row[0] + row[1]
    temp = temp**2

In [ ]:
import numpy as np
my_df = pd.DataFrame({'col_a': range(1, 10000000), 'col_b': np.sqrt(range(1, 10000000))})

In [ ]:
df_final[df_final['']]

In [ ]:
my_df

In [ ]:
234*12

In [6]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base

In [7]:
# Define the MariaDB engine using MariaDB Connector/Python
engine = sqlalchemy.create_engine("mariadb+mariadbconnector://db_user:pax123!@192.168.178.48:3306/company")

ModuleNotFoundError: No module named 'mariadb'