### Make ps_search of df_final and my_db

In [1]:
import pandas as pd
import math
import sys
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important; }</style>"))
sys.path.append('/Users/joerg/repos/braz')
from utilities_functions import scan_func
# To run all commands within one cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# default behaviour:
# InteractiveShell.ast_node_interactivity = "last_expr"

/var/folders/z2/_gyyb63x4pv6zvl1bd53ryg00000gn/T/ipykernel_4452/3171925353.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
df_my_db = pd.read_csv('df_final_my_db_py_21_04_2022.csv', index_col=[0])
df_final = pd.read_csv('df_final_inklusive_ms.csv', index_col=[0])

## PS-search at my_db

In [3]:
ps_name = 'Krissy Lynn'

In [4]:

title_string = ''
#df_my_db[df_my_db['PS1'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)]
# giving the numbers...

# only as PS1
#df_my_db[df_my_db['PS1'].str.contains(ps_name) | df_my_db['PS2'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)]

# Only as PS1 or PS2
#df_my_db[df_my_db['PS1'].str.contains(ps_name) | df_my_db['PS2'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)]

#len(df_my_db[df_my_db['PS1'].str.contains(ps_name) | df_my_db['PS2'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)])

# Only as PS1, PS2 or PS3..
#df_my_db[df_my_db['PS1'].str.contains(ps_name) | df_my_db['PS2'].str.contains(ps_name) | df_my_db['PS3'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)]
df_my_db[df_my_db['Title'].str.contains(title_string)]

len(df_my_db[df_my_db['PS1'].str.contains(ps_name) | df_my_db['PS2'].str.contains(ps_name) | df_my_db['PS3'].str.contains(ps_name) & df_my_db['Title'].str.contains(title_string)])

,Site,PS1,PS2,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,Title,Location,Link
0,Baby Got Boobs,Alexis Ford,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,happy_boob_day_720p,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/baby_got_...
1,Baby Got Boobs,Alexis Ford,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,make_it_up_to_my_dick_720p,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/baby_got_...
2,Baby Got Boobs,Alexis Ford,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,xxx_men_the_hellfire_club_720p,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/baby_got_...
3,Baby Got Boobs,Alexis May,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,video_store_whore_720p,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/baby_got_...
4,Baby Got Boobs,Allison Star,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,boobie_cun_testant_720p,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/baby_got_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Real Wife Stories,Dylan Ryder,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,happily_married_1080p,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/real_w...
1710,Real Wife Stories,Karmen Karma,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,in_lawful_infidelity_720p,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/real_w...
1711,Real Wife Stories,Lenina Crowne,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,upgrading_my_room_720p,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/real_w...
1712,Teens Like It Big,Alexis Monroe,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,american_slut_720p,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/teens_...
1713,Teens Like It Big,Karmen Karma,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,dont_forget_to_blow_your_server_720p,WERDERNAS2X,/Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/teens_...

51

#### extract the title-column only for the selected ps...

In [6]:
krissy_lynn_title_only_my_db = ['_'.join(x.split('_')[:-1]) for x in krissy_lynn_my_db['Title']]

In [8]:
len(krissy_lynn_title_only_my_db)

51

# PS or title-search at df_final

In [6]:
title_string = "queen_of"
df_final[df_final['Title'].str.contains(title_string)]
#df_my_db[df_my_db['Title'].str.contains(title_string)]

,Site,PS1,PS2,Title
2535,Big Tits At School,tasha_reign,katrina_jade,slut_colleges_queen_of_boobs
3949,Big Wet Butts,abella_danger,markus_dupree,queen_of_the_dick
6988,Milfs Like It Big,destiny_dixon,sean_lawless,destiny_queen_of_footjobs
9435,Zz Series,tina_kay,rebecca_more,queen_of_thrones_part_1_a_xxx_parody
9464,Zz Series,xander_corvus,bonnie_rotten,queen_of_thrones_part_2_a_xxx_parody
9467,Zz Series,rebecca_more,romi_rain,queen_of_thrones_part_4_a_xxx_parody
9478,Zz Series,romi_rain,bridgette_b,queen_of_thrones_part_3_a_xxx_parody
9503,Zz Series,asa_akira,lisa_ann,ep_3_the_queen_of_lust

# PS or title-search at df_my_db

In [7]:
title_string = "queen_of"
df_my_db[df_my_db['Title'].str.contains(title_string)]

Empty DataFrame
Columns: [Site, PS1, PS2, PS3, PS4, PS5, PS6, PS7, PS8, PS9, PS10, Title, Location, Link]
Index: []

In [10]:
ps_name_final = "krissy_lynn"

In [56]:
# only as PS1
title_string_final = ''
krissy_lynn_df_final = df_final[df_final['PS1'].str.contains(ps_name_final) | df_final['PS2'].str.contains(ps_name_final) & df_final['Title'].str.contains(title_string_final)]
len(df_final[df_final['PS1'].str.contains(ps_name_final) | df_final['PS2'].str.contains(ps_name_final) & df_final['Title'].str.contains(title_string_final)])

68

#### extract the title-column for the selected ps in df_final ... slightly different algorithm compared to my_db

In [15]:
krissy_lynn_title_only_df_final = [x for x in krissy_lynn_df_final['Title']]

In [2]:
len(krissy_lynn_title_only_df_final)

NameError: name 'krissy_lynn_title_only_df_final' is not defined

#### calculate which titles are missing...

In [3]:
from fuzzywuzzy import fuzz

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [33]:
%%time

df_final_title = []
my_db_title =[]
index_df_final = []
index_my_db = []
fuzz_val = []

for lf_f in krissy_lynn_title_only_df_final[:]:
    for lf_m in krissy_lynn_title_only_my_db[:]:
        val = fuzz.ratio(lf_f, lf_m)
        if val > 90:
            fuzz_val.append(val)
            continue
        df_final_title.append(lf_f)
        index_df_final.append(krissy_lynn_title_only_df_final.index(lf_f))
        my_db_title.append(lf_m)
        index_my_db.append(krissy_lynn_title_only_my_db.index(lf_m))
        #if val > 90:
            #print('val: ', val)
            
            #print('lf_f: ', lf_f)
            
            
            #print('lf_f_index: ', df_final_title_only.index(lf_f))
            
            #print('lf_m: ', lf_m)
            
            
            #print('lf_m_index: ', my_db_title_only.index(lf_m))
            
            
            #print('===')

compare_db = {'df_final_title': df_final_title, 'index_df_final': index_df_final, 'my_db_title': my_db_title, 'index_my_db': index_my_db, 'fuzzy_value': fuzz_val}  
#columns = ['df_final_title', 'index_df_final', 'my_db_title', 'index_my_db', 'fuzzy_value']
#compare_db[columns]

CPU times: user 143 ms, sys: 2.15 ms, total: 145 ms
Wall time: 144 ms

In [36]:
def common_elements(list1, list2):
    """
    Return a list containing the elements which are in both list1 and list2

    >>> common_elements([1,2,3,4,5,6], [3,5,7,9])
    [3, 5]
    >>> common_elements(['this','this','n','that'],['this','not','that','that'])
    ['this', 'that']
    """
    for element in list1:
        if element in list2:
            return list(element)

In [44]:
krissy_lynn = common_elements(list(krissy_lynn_title_only_df_final), list(krissy_lynn_title_only_my_db))

In [46]:
krissy_lynn = list(set(krissy_lynn_title_only_df_final).intersection(krissy_lynn_title_only_my_db))

In [49]:
krissy_lynn_2 = set(krissy_lynn_title_only_df_final).difference(krissy_lynn_title_only_my_db)

In [1]:
#krissy_lynn_2

In [2]:
#compare_db

In [61]:
ps1 = 'nicolette_shea'

In [65]:
ps2 = ps1.replace('_', ' ').title()

In [67]:
ps_name_try = "Krissy Lynn"

In [69]:
ps_name_try.lower().replace(' ', '_')

'krissy_lynn'

In [28]:
krissy_lynn_title_only_df_final[0]

'rowdy_armbar_goes_too_far'