### Create df of my TOP PS!

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)

#### Import the actual created csv-file ..

In [2]:
df = pd.read_csv('df_final_my_db_py_11_07_2022.csv', index_col=[0])

#### Extract the unique PSs for my TOP25

In [5]:
ps_1 = list(df['PS1'])
ps_2 = list(df['PS2'])
ps_3 = list(df['PS3'])
ps_4 = list(df['PS4'])
ps_5 = list(df['PS5'])
ps_6 = list(df['PS6'])
ps_7 = list(df['PS7'])
ps_8 = list(df['PS8'])
ps_9 = list(df['PS9'])
ps_10 = list(df['PS10'])

ps_tmp =(ps_1 + ps_2 + ps_3 + ps_4 + ps_5 + ps_6 + ps_7 + ps_8 + ps_9 + ps_10)
ps_tmp_2 = [i.strip(' ') for i in ps_tmp]
ps_tmp_3 = set(ps_tmp_2)
ps_tmp_4 = list(ps_tmp_3)
ps_total = sorted(ps_tmp_4)
print('Quantity of PS total: ', str(len(ps_total)))

Quantity of PS total:  411

#### Create additional column to judge whether PS belongs to the TOP PS!

In [7]:
df_ps_total = pd.DataFrame(ps_total)
df_ps_total.columns = ['PS']
df_ps_total['TOP50'] = 'No'

### Define search-Function on dataframe

In [10]:
# VERY important function to search on dataframes
def search(dataFrame, search_string):
    mask = (dataFrame.applymap(lambda x: isinstance(x, str) and search_string in x)).any(1)
    return dataFrame[mask]

### Listing of my TOP PS!

In [14]:
top50_ps = ['Abbey Brooks', 'Abbie Cat', 'Alena Croft', 'Aletta Ocean', 'Alexis Ford', 
            'Angel Wicky', 'Angela White', 'Ava Addams', 'Bridgette B', 'Britney Shannon',
            'Carmella Bing', 'Cathy Heaven', 'Chessie Kay', 'Claire Dames',  'Corinna Blake',
            'Dee Williams', 'Donna Bell', 'Ella Hughes', 'Emma Butt', 'Eva Karera', 'Eva Notty', 
            'Harmony Reigns', 'Holly Halston', 'Jasmine Jae', 'Jayden Jaymes', 'Jenna Presley',
            'Jessica Moore', 'Julia Ann', 'Katie Kox', 'Kelly Divine', 'Kendra Lust', 'Kiara Mia',
            'Krissy Lynn', 'Leigh Darby', 'Madison Ivy', 'Marsha May', 'Memphis Monroe', 'Nicolette Shea',
            'Nikki Benz', 'Noelle Easton', 'Peta Jensen', 'Rebeca Linares', 'Rebecca More', 'Roberta Gemma',
            'Romi Rain', 'Sensual Jane', 'Shyla Stylez', 'Sienna West', 'Sophie Dee', 'Stella Cox', 
            'Syren De Mer', 'Tarra White', 'Tory Lane', 'Velicity Von', 'Veronica Avluv', 'Yasmin Scott']
print('Quantity of my TOP PS: ', str(len(top50_ps)))

Quantity of my TOP PS:  56

### Loop through the df_ps_total and notice the location of the Top_ps

In [16]:
for single_ps in top50_ps:
    if single_ps in list(df_ps_total['PS']):
        ps_index_position = (df_ps_total[df_ps_total['PS'] == single_ps]).index.item()
        print('PS ', single_ps, ' found at postion: ', str(ps_index_position))
        df_ps_total.loc[ps_index_position, 'TOP50'] = 'Yes'

PS  Abbey Brooks  found at postion:  1
PS  Abbie Cat  found at postion:  2
PS  Alena Croft  found at postion:  11
PS  Aletta Ocean  found at postion:  13
PS  Alexis Ford  found at postion:  20
PS  Angel Wicky  found at postion:  38
PS  Angela White  found at postion:  39
PS  Ava Addams  found at postion:  59
PS  Bridgette B  found at postion:  79
PS  Britney Shannon  found at postion:  81
PS  Carmella Bing  found at postion:  93
PS  Cathy Heaven  found at postion:  96
PS  Chessie Kay  found at postion:  102
PS  Claire Dames  found at postion:  109
PS  Corinna Blake  found at postion:  113
PS  Dee Williams  found at postion:  125
PS  Donna Bell  found at postion:  133
PS  Ella Hughes  found at postion:  138
PS  Emma Butt  found at postion:  141
PS  Eva Karera  found at postion:  147
PS  Eva Notty  found at postion:  148
PS  Harmony Reigns  found at postion:  163
PS  Holly Halston  found at postion:  167
PS  Jasmine Jae  found at postion:  179
PS  Jayden Jaymes  found at postion:  181
PS  Jenna Presley  found at postion:  188
PS  Jessica Moore  found at postion:  194
PS  Julia Ann  found at postion:  207
PS  Katie Kox  found at postion:  215
PS  Kelly Divine  found at postion:  221
PS  Kendra Lust  found at postion:  224
PS  Kiara Mia  found at postion:  233
PS  Krissy Lynn  found at postion:  241
PS  Leigh Darby  found at postion:  254
PS  Madison Ivy  found at postion:  278
PS  Marsha May  found at postion:  283
PS  Memphis Monroe  found at postion:  292
PS  Nicolette Shea  found at postion:  305
PS  Nikki Benz  found at postion:  307
PS  Noelle Easton  found at postion:  313
PS  Peta Jensen  found at postion:  319
PS  Rebeca Linares  found at postion:  328
PS  Rebecca More  found at postion:  329
PS  Roberta Gemma  found at postion:  336
PS  Romi Rain  found at postion:  337
PS  Sensual Jane  found at postion:  352
PS  Shyla Stylez  found at postion:  357
PS  Sienna West  found at postion:  359
PS  Sophie Dee  found at postion:  369
PS  Stella Cox  found at postion:  372
PS  Syren De Mer  found at postion:  379
PS  Tarra White  found at postion:  384
PS  Tory Lane  found at postion:  396
PS  Velicity Von  found at postion:  399
PS  Veronica Avluv  found at postion:  400
PS  Yasmin Scott  found at postion:  407

In [23]:
df_top_ps = df_ps_total[df_ps_total['TOP50'] == 'Yes']

In [80]:
df_top_ps_tmp = pd.DataFrame()
for single_top_ps in df_top_ps['PS'][:2]:
    #print(single_top_ps)
    index_list_top_ps = df[(df['PS1'] == single_top_ps) | (df['PS2'] == single_top_ps) |
                (df['PS3'] == single_top_ps) | (df['PS4'] == single_top_ps) |
                (df['PS5'] == single_top_ps) | (df['PS6'] == single_top_ps) |
                (df['PS7'] == single_top_ps) | (df['PS8'] == single_top_ps) |
                (df['PS9'] == single_top_ps) | (df['PS10'] == single_top_ps)].index
    df_tmp = df.loc[index_list_top_ps]
    
    #print(single_top_ps, ' found in original df at postions: ', index_list_top_ps)
    print(df_tmp)

                       Site           PS1                PS2  \
99       Big Tits At School  Abbey Brooks            No Name
245        Big Tits At Work  Abbey Brooks            No Name
246        Big Tits At Work  Abbey Brooks            No Name
247        Big Tits At Work  Abbey Brooks            No Name
443      Big Tits In Sports  Abbey Brooks            No Name
950       Milfs Like It Big  Abbey Brooks            No Name
1230        Moms In Control  Abbey Brooks     Jillian Janson
1258  Pornstars Like It Big  Abbey Brooks        Bridgette B
1259  Pornstars Like It Big  Abbey Brooks  Kagneylinn Karter

                                  Title      PS3      PS4      PS5      PS6  \
99             cultural_festishism_720p  No Name  No Name  No Name  No Name
245          handling_his_business_720p  No Name  No Name  No Name  No Name
246              language_banguage_720p  No Name  No Name  No Name  No Name
247           sensitivity_training_720p  No Name  No Name  No Name  No Name
443        taking_care_of_the_team_720p  No Name  No Name  No Name  No Name
950             the_butler_did_her_720p  No Name  No Name  No Name  No Name
1230  this_is_how_you_get_the_job_1080p  No Name  No Name  No Name  No Name
1258                 truth_or_dare_720p  No Name  No Name  No Name  No Name
1259              cock_of_immunity_720p  No Name  No Name  No Name  No Name

          PS7      PS8      PS9     PS10    Location  \
99    No Name  No Name  No Name  No Name  WERDERNASX
245   No Name  No Name  No Name  No Name  WERDERNASX
246   No Name  No Name  No Name  No Name  WERDERNASX
247   No Name  No Name  No Name  No Name  WERDERNASX
443   No Name  No Name  No Name  No Name  WERDERNASX
950   No Name  No Name  No Name  No Name  WERDERNASX
1230  No Name  No Name  No Name  No Name  WERDERNASX
1258  No Name  No Name  No Name  No Name  WERDERNASX
1259  No Name  No Name  No Name  No Name  WERDERNASX

                                                   Link
99    /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
245   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
246   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
247   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
443   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
950   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/milfs_lik...
1230  /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/moms_in_c...
1258  /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...
1259  /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...
                       Site        PS1           PS2  \
444      Big Tits In Sports  Abbie Cat  Yuffie Yulan
863       Doctor Adventures  Abbie Cat       No Name
1260  Pornstars Like It Big  Abbie Cat       No Name
1706      Real Wife Stories  Abbie Cat       No Name

                                Title      PS3      PS4      PS5      PS6  \
444   why_we_love_womens_tennis_1080p  No Name  No Name  No Name  No Name
863                    cu_matose_720p  No Name  No Name  No Name  No Name
1260       dr_jekyll_mister_hung_720p  No Name  No Name  No Name  No Name
1706         one_soggy_afternoon_720p  No Name  No Name  No Name  No Name

          PS7      PS8      PS9     PS10     Location  \
444   No Name  No Name  No Name  No Name   WERDERNASX
863   No Name  No Name  No Name  No Name   WERDERNASX
1260  No Name  No Name  No Name  No Name   WERDERNASX
1706  No Name  No Name  No Name  No Name  WERDERNAS2X

                                                   Link
444   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
863   /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/doctor_ad...
1260  /Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...
1706  /Volumes/WERDERNAS2X/VIDEOS2X/BRAZZERS2/real_w...

In [79]:
single_top_ps = 'Madison Ivy'

In [70]:
df[df['PS1'] == 'Madison Ivy']#.index#.item()

,Site,PS1,PS2,Title,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,Location,Link
196,Big Tits At School,Madison Ivy,Rebeca Linares,the_rack_of_the_clones_1080p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
1366,Pornstars Like It Big,Madison Ivy,No Name,sliding_into_madisons_d_ms_720p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...

In [72]:
index_list = df[(df['PS1'] == single_top_ps) | (df['PS2'] == single_top_ps) |
                (df['PS3'] == single_top_ps) | (df['PS4'] == single_top_ps) |
                (df['PS5'] == single_top_ps) | (df['PS6'] == single_top_ps) |
                (df['PS7'] == single_top_ps) | (df['PS8'] == single_top_ps) |
                (df['PS9'] == single_top_ps) | (df['PS10'] == single_top_ps)].index

In [73]:
index_list

Int64Index([196, 676, 716, 829, 1273, 1366], dtype='int64')

In [76]:
df.loc[index_list]

,Site,PS1,PS2,Title,PS3,PS4,PS5,PS6,PS7,PS8,PS9,PS10,Location,Link
196,Big Tits At School,Madison Ivy,Rebeca Linares,the_rack_of_the_clones_1080p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/big_tits_...
676,Brazzers Extra,Ava Addams,Mia Malkova,bz_10th_anniversary_bts_interview_720p,Kortney Kane,Phoenix Marie,Rachel Roxxx,Monique Alexander,Nikki Benz,Jayden Jaymes,Madison Ivy,Kagneylinn Karter,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/brazzers_...
716,Brazzers Extra,Jasmine Jae,Madison Ivy,tour_of_london_part_one_720p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/brazzers_...
829,Day With A Pornstar,Adriana Chechik,Madison Ivy,madison_and_adriana_720p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/day_with_...
1273,Pornstars Like It Big,Aletta Ocean,Madison Ivy,tour_of_london_part_two_1080p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...
1366,Pornstars Like It Big,Madison Ivy,No Name,sliding_into_madisons_d_ms_720p,No Name,No Name,No Name,No Name,No Name,No Name,No Name,No Name,WERDERNASX,/Volumes/WERDERNASX/VIDEOSX/BRAZZERS/pornstars...

In [77]:
df_top_ps['PS'][:2]

1    Abbey Brooks
2       Abbie Cat
Name: PS, dtype: object